<%- include('../partials/header',{title :'Tweeta'}) %> 

<div class="container">
<div class="row m-4 " >
<h1 class="text-center"> Post Here</h1>
</div>

<form>
    <div class="form-group">
      <input type="post" class="form-control" id="exampleInputEmail1" placeholder="What are you up to?">
    </div>
    <button type="submit" class="btn btn-primary">Create Post</button>
  </form>

<%- include('../partials/footer') %> 